@function page-margin () {
//@include media($bp320only) {
    @return $color-white;
//  @return calc(30 / 320 * 100%);
//} // $bp320only
}


body {
  margin: 0;
  padding: 0;

  main {
    @include outer-container;
    padding: 2em 0;
  }

  &.no-sidebars {
    main {
      section#content {
        @include span-columns(12);
      }
    }
  }

  &.one-sidebar.sidebar-first {
    main {
      aside {
        &#sidebar-first {
          @include span-columns(4);
          padding-left: 2em;
        }
      }

      section#content {
        @include span-columns(8);
        padding-right: 2em;
      }
    }
  }

  &.one-sidebar.sidebar-second {
    main {
      aside {
        &#sidebar-second {
          @include span-columns(4);
          padding-right: 2em;
        }
      }

      section#content {
        @include span-columns(8);
        padding-left: 2em;
      }
    }
  }

  &.two-sidebars {
    main {
      aside {
        &#sidebar-first {
          @include span-columns(3);
          padding-left: rem(25);
        }

        &#sidebar-second {
          @include span-columns(3);
          padding-right: rem(25);
        }
      }

      section#content {
        @include span-columns(6);
        padding-left: rem(20);
        padding-left: rem(20);
      }
    }
  }
}

$page-padding-mobile: rem(20);
$page-padding-tablet: rem(20);
$page-padding-desktop: rem(30);
$page-padding-widescreen: rem(30);

%layout-padding-mobile {
  @include media($bp320only) {
    padding-left: $page-padding-mobile;
    padding-right: $page-padding-mobile;
  } // $bp320only
} // %layout-padding-mobile

%layout-padding-tablet {
  @include media($bp580only) {
    padding-left: $page-padding-tablet;
    padding-right: $page-padding-tablet;
  } // $bp580only
} // %layout-padding-tablet

%layout-padding-desktop {
  @include media($bp960only) {
    padding-left: $page-padding-desktop;
    padding-right: $page-padding-desktop;
  } // $bp960only
} // %layout-padding-desktop

%layout-padding-widescreen {
  @include media($bp1280) {
    padding-left: $page-padding-widescreen;
    padding-right: $page-padding-widescreen;
  } // $b1280
} // %layout-padding-widescreen

%layout-padding {
  @extend %layout-padding-mobile;
  @extend %layout-padding-tablet;
  @extend %layout-padding-desktop;
  @extend %layout-padding-widescreen;
} // %layout-padding

.outer-container {
  @include outer-container;
}

