article.media.view-mode-full {

  .field {
    clear: both;
  } // .field

  .field--name-image {
    padding-bottom: 15px;
  } // .field--name-image

  .field--name-field-description {
    padding-top: 10px;
  } // .field--name-field-description

  .field--name-field-geo-location {
    padding-top: 5px;
  } // .field--name-field-description
} // article.media.view-mode-full
