// Color definitions

// Greys
$color-black: #000000;
$color-dark-grey: #333333 !default;
$color-dim-grey: #666666;
$color-medium-grey: #999999 !default;
$color-light-grey: #DDDDDD !default;
$color-white: #fff;

/////////////// EU Geology //////////////////////
$color-stormy: #503a68;
$color-cloud: #98878f;
$color-sunset: #985e6d;
$color-purple: #220044;
$color-evening: #192231;

$color-imperial-blue: #084865;
$color-papaya: #fcf0d0;
$color-dutch-white: #f0e0c0;
$color-lapis-lazuli: #247ba0;
$color-green-sheen: #70c1b3;
$color-cornsilk: #ffe74b;

$transparent-captions-color: rgba($color-black, 0.56);
$accent-line-color: $color-sunset;

// Headers
$header-background: $color-lapis-lazuli;
$header-color: cornsilk;

// Top Navigation
$topnav-background: $color-lapis-lazuli;
// $topnav-color: #CCFFDD;
$topnav-color: $color-cornsilk;

// Base colors.
$base-background-color: white !default;
$base-font-color: $color-dark-grey !default;
$base-border-color: gainsboro !default;
$base-accent-color: $color-lapis-lazuli !default;
$base-link-color: $base-accent-color !default;

$base-header-bar-color: $color-purple;
$base-main-nav-color: $color-purple;
$base-date-color: $color-medium-grey;

$page-title-color: #ac57ed;

// Hero colors.
$hero-color: white;

// Buttons
$color-button-selected: #006688;
$color-button-hover: #005577;
$color-button-inactive: #999;

// Messages colors.
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e0ffee !default;
/////////////////////////////////////////////////

// Table colors.
$table-border-color: $base-border-color;
$table-background: $base-background-color;
$table-header-background: lighten($table-background, 10);
$table-hover-background: darken($table-background, 3);
$table-stripe-background: darken($table-background, 5);
$table-stripe-background-hover: darken($table-stripe-background, 5);

// Tasks colors.
$tab-link-color: $color-dark-grey;
$tab-active-background: $base-background-color;
$tab-inactive-color: $base-background-color;
$tab-inactive-hover-color: silver;

// Breadcrumb colors.
$breadcrumb-border-color: $base-border-color;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $base-background-color;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $color-medium-grey;
$breadcrumb-color-hover: $base-link-color;
$breadcrumb-color-active: $breadcrumb-color;

// Flexbox colors.
$flex-box-border-color: $color-light-grey;
$flex-box-background: lighten($color-light-grey, 10%);
$flex-box-color: transparentize($base-font-color, 0.3);
$flex-box-top-colors:
        tomato,
        #72BFBF,
        #92B1E3,
        #E3D743,
        #CCC,
        #F6C05C;

// Footer colors.
$footer-background: desaturate(darken($base-accent-color, 20%), 30%);
$footer-color: white;
$footer-link-color: transparentize($footer-color, 0.6);
$footer-disclaimer-color: transparentize($footer-color, 0.35);

// Atomizer colors
$atomizer-background: desaturate(darken($base-accent-color, 20%), 30%);
