[submodule "docroot/docroot/modules/custom/atomizer"]
	path = docroot/docroot/modules/custom/atomizer
	url = https://github.com/mtnguru/ab
[submodule "docroot/modules/custom/imager"]
	path = docroot/modules/custom/imager
	url = https://github.com/mtnguru/imager
