/* table style column align */
.views-align-left {
  text-align: left;
}
.views-align-right {
  text-align: right;
}
.views-align-center {
  text-align: center;
}
/* Grid style column align. */
.views-view-grid .views-col {
  float: left;
}
.views-view-grid .views-row {
  clear: both;
  float: left;
  width: 100%;
}

/* Views exposed filter form */
form.views-exposed-form .filter-wrapper {
  display: flex;
}
form.views-exposed-form .filter-wrapper > label {
  display: block;
  width: 33%;
  order: 1;
//display: inline-block;
}
form.views-exposed-form .filter-wrapper .form-item {
  display: block;
  width: 33%;
}
form.views-exposed-form .filter-wrapper .form-item select {
  width: 100%;
}
form.views-exposed-form .filter-wrapper .form-item input {
  width: 100%;
}
form.views-exposed-form .filter-wrapper .form-item:nth-child(2) {
  order: 3;
}
form.views-exposed-form .filter-wrapper .form-item:nth-child(3) {
  order: 2;
}

/* Numeric field min/max wrapper */
form.views-exposed-form .minmax-wrapper {
  width: 33%;
  display: inline-block;
}
form.views-exposed-form .minmax-wrapper .form-item input.form-text {
  width: 5em;
}