body {
//width: 250px;
}

#views-exposed-form-media-gallery-page-1 {
  background: #ebe5d5;
  padding: 10px;
}

.view-media-gallery {
  .view-filters {
    background: #ebe5d5;
    padding: 10px;
  }
  .view-content {
    margin: 12px 0;
  }
  .views-row {
    background: #fffdf0;
    width: 158px;
    height: 220px;
    padding: 3px !important;
    margin: 1px 1px 4px !important;
    border: solid 1px #dbd0b5 !important;
    border-radius: 6px;
    vertical-align: top;
    line-height: 1.1em;
    display: inline-block;
    overflow: hidden;

    .views-field-name {
      text-align: center;
      height: 2.5em;
    }

    .views-field-field-photographer,
    .views-field-field-group {
      font-size: 80%;
    }
    .views-field-nothing {
      font-size: 80%;
    }
    .views-field-field-production-date {
      font-style: italic;
      font-size: 80%;
      text-align: center;
    }
    .views-field-image {
      > div {
        text-align: center;
      }
    }
    .im-image {
      border-radius: 4px;
      margin: 0 auto;
    }
  }
}

.views-element-container {
  .view-media-gallery {
    .view-filters {
      display: none;
    }
  }
}

.node__meta {
  .js-form-item {
    display: none;
  }
  > span {
    font-size: 80%;
    font-style: italic;
  }
}
