body.page-node-type-atomizer {
  main {
//  background: $atomizer-background;
  }

  #view-select-atom {
    padding: 10px 20px;
    border: 1px solid $base-border-color;
    display: none;
    width: 40%;
    max-width: 600px;
    background: #fff5e0;

    &.enabled {
      display: block;
      position: absolute;
      top: 20px;
      bottom: 0;
      right: 0;
      .views-element-container {
        position: absolute;
        top: 50px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        overflow: auto;
      }
    }

    @include media(max-width $bp580max) {
      .views-field-field-stability,
      .views-field-field-pt-group,
      .views-field-field__inner-electrons,
      .views-field-field__outer-electrons {
        display: none;
      }
    }

    @include media(max-width $bp960max) {
      .views-field-field-stability,
      .views-field-field__inner-electrons,
      .views-field-field__outer-electrons {
        display: none;
      }
    }

    @include media($bp1280) {
      .views-field-field__inner-electrons,
      .views-field-field__outer-electrons {
        display: none;
      }
    }

    h2 {
      margin-bottom: .2em;
    }
  }

  .control-block {
    &::before {
      content: '';
      display: block;
      margin: 5px 0;
      border-top: 2px solid #aaa;
    }
  }

  #blocks--buttons {
    display: flex;
    justify-content: space-around;
    font-size: 115%;

    hr {
      clear: both;
    }

    .az-control {
      padding: 3px;
      @include transition-3d;
      color: $color-button-inactive;
      &.az-selected {
        color: $color-button-selected;
      }
      &:hover {
        color: $color-button-hover;
      }
    }
  }

  .field--name-field-configuration {
    textarea {
      font-family: Consolas, Monaco, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Courier, 'New Courier', monospace;
    }
  }
}


