
/* Views exposed filter form */
form.views-exposed-form {

  .filter-wrapper {
    /* Views exposed filter form */
    background-color: #efefef;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 0 1%;
    padding: 0 10px;
    max-width: 640px;
    height: 60px;
    @include clearfix;

    &:nth-child(even) {
      margin-right: 0;
    }
    .form-item {
      margin: 0 1em 0 0;

      input.form-text {
        padding: 5px;
        margin: 0;
        font: inherit;
      }

    }

    @include media(max-width $bp580max) {
      width: 100%;
    } // $bp580max

    .compact & {
      margin: 0;
      height: 36px;

      label {
        font-size: .9em;
      }

      input.form-text {
        height: 28px;
      }

      select.form-select {
        height: 28px;
      }
    }

    @include media($bp960) {
      width: 100%;

      .filters-cols-2 & {
        float: left;
        width: 49.5%;

        &:nth-child(odd) {
          margin-right: 0.5%;
        } // wrapper:nth-child(even)

        &:nth-child(even) {
          margin-left: 0.5%;
        } // wrapper:nth-child(even)
      } // .filters_col_2
    } // $bp960

    label {
      order: 1;
      padding-right: 20px;
      text-align: left;
      margin-bottom: 0;
      line-height: 1.2;

      @include media($bp320only) {
        width: 40%;
      } // $bp320only

      @include media($bp580only) {
        width: 30%;
      } // $bp580only

      @include media($bp960) {
        width: 25%;
      } // $bp960
    } // label

    .form-item {
      float: none;
      margin-top: .5em;
      margin-bottom: .5em;

      input.form-text {
        padding: 5px;
        margin: 0;
        font: inherit;
      } // input.form-text

      select {
        margin: 0;
      } // select

      @include media($bp320only) {

        &.form-type-select {
          display: none;
        } // &.form-type-select

        &.form-type-entity-autocomplete,
        &.form-type-textfield {
          width: 60%;
          margin-right: 0;
          order: 2;
        } // &.form-type-entity-autocomplete, &.form-type-textfield
      } // $bp320only

      @include media($bp580only) {

        &.form-type-select {
          display: none;
        } // &.form-type-select

        &.form-type-entity-autocomplete,
        &.form-type-textfield {
          width: 70%;
          margin-right: 0;
          order: 2;
        } // &.form-type-entity-autocomplete, &.form-type-textfield
      } // $bp580only

      @include media($bp960) {

        &.form-type-select {
          width: 30%;
          order: 3;
          margin-right: 0;
          font-size: 80%;
        } // &.form-type-select

        &.form-type-entity-autocomplete,
        &.form-type-textfield {
          width: 45%;
          order: 2;
          margin-right: 10px;
        } // &.form-type-entity-autocomplete, &.form-type-textfield
      } // $bp960

      .description {
        display: none;
      } // .description
    } // .form-item
  } // .filter-wrapper

  .compact & {
    .form-actions {
      margin: 0;
    }
  }

  .form-actions {
    padding-top: .7em;
  }

} // form.views-exposed-form

