{#
/**
 * @file
 * Default theme implementation for a 'module_filter' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_module_filter()
 *
 * @ingroup themeable
 */
#}
<div class="module-filter-inputs-wrapper">{{ element }}</div>