@import "variables.scss";

.az-hidden {
  display: none;
}

// Atom Builder Viewer Block
.block-atomizer-viewer {
  display: inline-flex;
  width: calc(100% - 240px);
}

.ui-dialog.az-dialog {
  background: $color-controls;
  .ui-dialog-titlebar {
  }
  .ui-dialog-titlebar-close {
    color: black;
  }
}

.ui-dialog-buttonpane .form-actions .form-submit {
  background: $color-button;
}


.az-error {
  color: red;
}