
$color-controls: #fff5e0;
$color-active: #f1e1c1;
$az-color-border: #c3a23c;
$color-nuclet-edit: #f0e0c0;
$color-border: #541;
$color-grey-dark: #282a2c;
$color-grey-light: #999;
$color-grey-lighter: #ccc;
$color-button: #006688;
$color-popup: #fff9ec;
$color-text: #555;
