// @mixin background-2-color
// Displays 2 solid color backgrounds for 2-color background.
// Use $break to switch colors at specific point.
// Arguments also include $colors and $align.

@mixin background-2-color($align: bottom, $color1: $color-white, $color2: transparent, $break: 90px) {
  @include background(
    linear-gradient(to $align, $color1 0, $color1 $break),
    linear-gradient(to $align, $color2 $break, $color2 100%)
  );

  background-repeat: no-repeat;

  @if $align == 'top' {
    background-size: 100%, 100% $break;
  }
  @else if $align == 'right' {
    background-size: $break 100%, 100%;
  }
  @else if $align == 'bottom' {
    background-size: 100% $break, 100%;
  }
  @else if $align == 'left' {
    background-size: 100%, $break 100%;
  }
} // @mixin background-2-color
