// @mixin color-inverse
// Displays white text on a black background for elements within container

@mixin color-inverse {
  background-color: $color-black;
  color: $color-white;

  h1, h2, h3, h4, h5, h6 {
    color: $color-white;
  } // h1, h2, h3, h4, h5, h6
} // @mixin color-inverse
