// @mixin underline-hover
// Used in main navigation to underline element on hover

@mixin underline-hover {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid $color-navy-blue;
    opacity: 0;
    @include transition-3d;
  } // &::before

  &:focus,
  .no-touchevents &:hover {
    &::before {
      opacity: 1;
    } // &::before
  } // &:focus, &:hover
} // @mixin underline-hover
