// @mixin vertical-center
// Displays element as vertically centered in parent container
// Parent container must have defined height

@mixin vertical-center {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
} // @mixin vertical-center

// @mixin clear-vertical-center
// Removes vertically centered display properties that had been previously set with mixin above

@mixin clear-vertical-center {
  top: auto;
  @include transform(none);
} // @mixin clear-vertical-center
