@import "../../../../contrib/neato/bower_components/neat/app/assets/stylesheets/neat-helpers";
// Neat Overrides
// $column: 2px;
// $gutter: 20px;
$grid-columns: 12;
$max-width: 3440px;

$visual-grid: false;

$visual-grid-index: front;
$visual-grid-color: #f0f;
$visual-grid-opacity: 0.1;

$min-width-mobile: 320;
$min-width-tablet: 580;
$min-width-tablet-toolbar: 610;
$min-width-desktop: 960;
$min-width-widescreen: 1280;

$bp580: rem($min-width-tablet);
$bp610: rem($min-width-tablet-toolbar);
$bp960: rem($min-width-desktop);
$bp1280: rem($min-width-widescreen);

$bp320max: rem(($min-width-tablet - 1));
$bp320max-toolbar: rem(($min-width-tablet-toolbar - 1));
$bp580max: rem(($min-width-desktop - 1));
$bp960max: rem(($min-width-widescreen - 1));

$bp320only: max-width $bp320max;
$bp320only-toolbar: max-width $bp320max-toolbar;
$bp580only: min-width $bp580 max-width $bp580max;
$bp960only: min-width $bp960 max-width $bp960max;

$bp580-610: min-width $bp580 max-width $bp320max-toolbar;
$bp610-960: min-width $bp610 max-width $bp580max;
$bp580-1280: min-width $bp580 max-width $bp960max;
// border-box-sizing: true !global;

