section.field--type-comment {
  padding-top: 20px;

  h2 {
    border-bottom: 1px solid $base-border-color;
  }

  .field--name-subject {
    display: none;
  }

  > article.comment {
    padding: 20px 0;
    border-bottom: 1px solid $base-border-color;

    &:first-of-type {
      padding-top: 0;
    } // &:first-child

    &:last-of-type {
      border-bottom: 0;
    } // &:last-child

    h3 {
      font-size: 125%;
    } // h3

    article.profile {
      display: inline-block;
      padding-right: 10px;
      margin-bottom: 10px;

      img {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 25%;
      }
    } // article.profile

    .comment__submitted {
      display: inline-block;
      vertical-align: top;
      margin-top: 8px;
    }
  } // article.comment

  footer {
    > a {
      display: none;
    }
  }
} // section.field--type-comment

