.hero-wrapper {
  position: relative;

  .field--name-field-hero-image {

    article {
      @include fixed-aspect(1/ 4 * 100%, '.field--name-image');
      width: 100%;

      img {
        border-radius: 5px;
        width: 100%;
        height: auto;
      } // img
    } // article
  } // .field--name-field-hero-image

  .title-wrapper {
    h1 {
      a {
        font-size: 50px;
        color: $main-title-color;
      } // a
    } // h1
    @include position(absolute, 20px null null 30px);
  } // .title-wrapper

  .field--name-field-short-description {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
  } // .field--name-field-short-description
} // .hero-wrapper
