.hero-container {
  position: relative;

  .field--name-field-hero-image {

    article {
      @include fixed-aspect(1/ 5 * 100%, '.field--name-image');
      width: 100%;

      img {
        width: 100%;
        height: auto;
      } // img
    } // article
  } // .field--name-field-hero-image

  .title-wrapper {
    h1 {
      a {
        font-size: 50px;
        color: $main-title-color;
      }
    }
    @include position(absolute, 20px null null 30px);
  }
} // .hero-container
