.block-region-sidebar,
.sidebar {

  .block {
    border: 1px solid $base-border-color;
    border-radius: $base-border-radius;
    margin-bottom: 30px;
  } // .block

  .title-container {
    margin: -1px -1px 0;
    padding: 10px 15px;
    background: $header-background;
    color: $header-color;
    border-radius: $base-border-radius $base-border-radius 0 0;
    text-shadow: 1px 1px 1px #138;

    h2 {
      font-size: 110%;
      margin: 0;
    } // h2
  } // .title-container

  .content-container {
    padding: 10px 20px;

    ul {
      margin-left: 0;
    } // ul
  } // .content-container
} // .sidebar


